
body{
    /**background-color:#2F4246;**/
    background-color:#F5F5F5;
}

#Big {
    max-width:1000px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    padding:10px;
    text-align:center;
    border-color:lightblue;
    border-style:solid;
    border-width:0px;
    background-color:white;
    border-radius:8px;
    
}

#footerBig2 {
    max-width:1000px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    padding:10px;
    font-size:12px;
    font-family:'Courier New';
    text-align:center;
    border-color:lightblue;
    border-style:solid;
    border-width:0px;
    background-color:white;
    border-radius:8px;
    
}

.infoButton {
    width:auto;
    height:auto; 
    border:1px solid black;
    float:right;
    cursor:pointer;
}

.infoDropdown {
    background-color:grey;
    height:auto;
    font-family:'Courier New';
    width:110px;
    text-align:center;
    padding:10px;
    display:none;
    border-radius:10px;
    float:right;
}

.boxOne  {
    width:350px;
}

.divJS {
    height:150px;
    width:250px;
    border-radius:5px;
    background-color:#F2F2F2;
    text-align:center;
    color:#FFFFFF;
    font-family:Helvetica;
    opacity:0.5;
    margin:20px;
    padding:5px;
    display:inline-block;
    border:1px solid grey;
    /**cursor:pointer;**/

}

.inputBox {
    width:180px;
    margin-left:auto;
    margin-right:auto;
    
}

.deleteS {
    height:20px;
    width:20px;   
    border:0px solid yellow;
    float:right;
    margin-top:-45px;
    padding:0px;
    cursor:pointer;
    color:grey;
    
}

.addButton {
    height:25px;
    width:70px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    border:1px solid black;
    text-align:center;
    font-family:Helvetica;
    margin:5px;
    padding:10px;
    cursor:pointer;
}

.buttonAddcolor {
    background-color:#E9FFFF;

}

.buttonSavecolor {
    background-color:#FFEBCD;

}

.saveButton {
    height:20px;
    width:40;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    border:1px solid black;
    text-align:center;
    font-family:Helvetica;
    margin:5px;
    padding:10px;
    cursor:pointer;
}

.disableB {
    height:25px;
    width:70px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    border:1px solid black;
    text-align:center;
    font-family:Helvetica;
    margin:5px;
    padding:10px;
    opacity:0.5;
}

.colorclick {
	background-color:black;
	opacity:0.19;
}

.titleText {
    font-family:Helvetica;
}

.redtext {
    color:#580058;
}


